* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
}

body {
    height: 100vh;
    background-color: #06283d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
}

.container {
    background-color: #f5f5f5;
    max-width: 500px;
    width: auto;
    height: auto;
    padding: 15px;
    overflow: hidden;
    border-radius: 18px;
}

.search-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #06283d;
    position: relative;
}

.search-box input {
    background-color: #f5f5f5;
    color: #06283d;
    width: 80%;
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
    text-transform: capitalize;
    padding-left: 32px;
    margin: 0 auto;
}

.search-box input::placeholder {
    color: #06283d;
    opacity: 0.5;
    font-size: 20px;
}

.search-box button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 18px;
    background-color: #dff6ff;
    border: #dff6ff;
    font-size: 22px;
}

.search-box button:hover {
    color: #fff;
    background-color: #06283d;
    transition: .8s;
}

.fa-location-dot {
    position: absolute;
    color: #06283d;
    font-size: 28px;
}

.weather {
    margin-top: 10px;
    text-align: center;
    display: none;
}

.weather-image i {
    font-size: 90px;
    opacity: .7;
}

.temp {
    font-size: 50px;
    margin-top: 10px;
}
.city {
    font-size: 50px;
    letter-spacing: 4px;
    color: #06283d;
    margin-top: 10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.details i {
    font-size: 50px;
    opacity: .7;
    margin-bottom: 10px;
}
.description,
.feels,
.feels p,
.details p {
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    text-transform: lowercase;
    padding-top: 10px;
    color: #06283d;
}

.error {
    color: #ffc0cb;
    margin-top: 10px;
    margin-left: 32px;
    display: none;
}